package templates

import "github.com/aethersh/algae/util"

templ BGPPage(si util.SystemInfo) {
	@page(si) {
		<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow ">
			<div class="px-2 py-4 sm:px-4 font-semibold text-lg">
				BGP
			</div>
			<div class="px-2 py-4 sm:p-4"></div>
		</div>
	}
}
